In [83]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [84]:
df_csv = pd.read_csv("demographics.csv", dtype={'cust_id': 'str'})
df_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89999 entries, 0 to 89998
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   cust_id            89999 non-null  object
 1   age                89999 non-null  int64
 2   annual_income      89999 non-null  object
 3   employment_length  87746 non-null  float64
 4   employment_type    89999 non-null  object
 5   education          89999 non-null  object
 6   marital_status     89999 non-null  object
 7   num_dependents     89999 non-null  int64
dtypes: float64(1), int64(2), object(5)
memory usage: 5.5+ MB

In [85]:
df_csv.isnull().sum()

cust_id                 0
age                     0
annual_income           0
employment_length    2253
employment_type         0
education               0
marital_status          0
num_dependents          0
dtype: int64

In [86]:
df_csv.head(100)

,cust_id,age,annual_income,employment_length,employment_type,education,marital_status,num_dependents
0,10000,41,$61800,2.2,Full-time,Graduate,Married,2
1,10001,38,"28,600",7.0,FULL_TIME,High School,Married,0
2,10002,18,"$20,700",0.8,FULL_TIME,Bachelor,Single,0
3,10003,27,"31,400",4.8,Full Time,Bachelor,Single,0
4,10004,26,$24600,5.2,Fulltime,High School,Single,0
...,...,...,...,...,...,...,...,...
95,10095,33,$40700,7.6,FT,High School,Single,0
96,10096,34,$28500,6.2,Contractor,Graduate,Married,2
97,10097,27,"$51,500",2.0,PT,Graduate,Married,0
98,10098,40,"92,200",1.1,Full-time,Some College,Married,1
99,10099,29,$47900,1.4,Contract,Advanced,Married,4

In [87]:
df_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89999 entries, 0 to 89998
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   cust_id            89999 non-null  object
 1   age                89999 non-null  int64
 2   annual_income      89999 non-null  object
 3   employment_length  87746 non-null  float64
 4   employment_type    89999 non-null  object
 5   education          89999 non-null  object
 6   marital_status     89999 non-null  object
 7   num_dependents     89999 non-null  int64
dtypes: float64(1), int64(2), object(5)
memory usage: 5.5+ MB

In [88]:
csv1

,cust_id,age,annual_income,employment_length,employment_type,education,marital_status,num_dependents
0,10000,41,61800,2.2,full-time,Graduate,Married,2
1,10001,38,28600,7.0,full-time,High School,Married,0
2,10002,18,20700,0.8,full-time,Bachelor,Single,0
3,10003,27,31400,4.8,full-time,Bachelor,Single,0
4,10004,26,24600,5.2,full-time,High School,Single,0
...,...,...,...,...,...,...,...,...
89994,99994,52,72300,3.7,full-time,Bachelor,Single,1
89995,99995,61,20000,4.2,full-time,High School,Divorced,1
89996,99996,19,20000,1.5,full-time,High School,Married,3
89997,99997,21,20000,3.5,full-time,High School,Married,1
89998,99998,36,25600,2.0,self-employed,Bachelor,Married,3

In [89]:
csv1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89999 entries, 0 to 89998
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   cust_id            89999 non-null  int64
 1   age                89999 non-null  int64
 2   annual_income      89999 non-null  int64
 3   employment_length  89999 non-null  float64
 4   employment_type    89999 non-null  object
 5   education          89999 non-null  object
 6   marital_status     89999 non-null  object
 7   num_dependents     89999 non-null  int64
dtypes: float64(1), int64(4), object(3)
memory usage: 5.5+ MB

In [90]:
csv1

,cust_id,age,annual_income,employment_length,employment_type,education,marital_status,num_dependents
0,10000,41,61800,2.2,full-time,Graduate,Married,2
1,10001,38,28600,7.0,full-time,High School,Married,0
2,10002,18,20700,0.8,full-time,Bachelor,Single,0
3,10003,27,31400,4.8,full-time,Bachelor,Single,0
4,10004,26,24600,5.2,full-time,High School,Single,0
...,...,...,...,...,...,...,...,...
89994,99994,52,72300,3.7,full-time,Bachelor,Single,1
89995,99995,61,20000,4.2,full-time,High School,Divorced,1
89996,99996,19,20000,1.5,full-time,High School,Married,3
89997,99997,21,20000,3.5,full-time,High School,Married,1
89998,99998,36,25600,2.0,self-employed,Bachelor,Married,3

In [91]:
#df_csv["employment_type"] = (
    #df_csv["employment_type"]
    #.str.lower()
    #.str.replace("_", " ")
    #.str.replace("-", " ")
#)

In [96]:
df_csv["employment_type"].unique()

array(['full-time', 'part-time', 'self-employed', 'contract'],
      dtype=object)

In [95]:
df_csv["employment_type"] = df_csv["employment_type"].str.lower().replace({
    "full_time": "full-time",
    "full time": "full-time",
    "fulltime": "full-time",
    "ft": "full-time",
    
    "part time": "part-time",
    "part_time": "part-time",
    "part-time": "part-time",
    "pt": "part-time",
    
    "self_employed": "self-employed",
    "self emp": "self-employed",
    "self employed": "self-employed",
    "contractor": "contract"
})

In [97]:
df_csv

,cust_id,age,annual_income,employment_length,employment_type,education,marital_status,num_dependents
0,10000,41,$61800,2.2,full-time,Graduate,Married,2
1,10001,38,"28,600",7.0,full-time,High School,Married,0
2,10002,18,"$20,700",0.8,full-time,Bachelor,Single,0
3,10003,27,"31,400",4.8,full-time,Bachelor,Single,0
4,10004,26,$24600,5.2,full-time,High School,Single,0
...,...,...,...,...,...,...,...,...
89994,99994,52,"$72,300",3.7,full-time,Bachelor,Single,1
89995,99995,61,"20,000",4.2,full-time,High School,Divorced,1
89996,99996,19,"$20,000",1.5,full-time,High School,Married,3
89997,99997,21,"$20,000",3.5,full-time,High School,Married,1
89998,99998,36,$25600,2.0,self-employed,Bachelor,Married,3

In [77]:
csv1.head()

,cust_id,age,annual_income,employment_length,employment_type,education,marital_status,num_dependents
0,10000,41,61800,2.2,full-time,Graduate,Married,2
1,10001,38,28600,7.0,full-time,High School,Married,0
2,10002,18,20700,0.8,full-time,Bachelor,Single,0
3,10003,27,31400,4.8,full-time,Bachelor,Single,0
4,10004,26,24600,5.2,full-time,High School,Single,0

In [98]:
df_csv['employment_length'].describe()

count    87746.000000
mean         5.514893
std          3.268233
min          0.000000
25%          3.000000
50%          5.200000
75%          7.700000
max         23.900000
Name: employment_length, dtype: float64

In [99]:
df_csv['employment_length'] = df_csv['employment_length'].fillna(0)

In [100]:
df_csv

,cust_id,age,annual_income,employment_length,employment_type,education,marital_status,num_dependents
0,10000,41,$61800,2.2,full-time,Graduate,Married,2
1,10001,38,"28,600",7.0,full-time,High School,Married,0
2,10002,18,"$20,700",0.8,full-time,Bachelor,Single,0
3,10003,27,"31,400",4.8,full-time,Bachelor,Single,0
4,10004,26,$24600,5.2,full-time,High School,Single,0
...,...,...,...,...,...,...,...,...
89994,99994,52,"$72,300",3.7,full-time,Bachelor,Single,1
89995,99995,61,"20,000",4.2,full-time,High School,Divorced,1
89996,99996,19,"$20,000",1.5,full-time,High School,Married,3
89997,99997,21,"$20,000",3.5,full-time,High School,Married,1
89998,99998,36,$25600,2.0,self-employed,Bachelor,Married,3

In [101]:
df_csv["annual_income"] = (df_csv["annual_income"].str.replace("$", "", regex=False) .str.replace(",", "", regex=False).astype(float))

In [102]:
df_csv["annual_income"] = df_csv["annual_income"].astype(int)

In [103]:
df_csv

,cust_id,age,annual_income,employment_length,employment_type,education,marital_status,num_dependents
0,10000,41,61800,2.2,full-time,Graduate,Married,2
1,10001,38,28600,7.0,full-time,High School,Married,0
2,10002,18,20700,0.8,full-time,Bachelor,Single,0
3,10003,27,31400,4.8,full-time,Bachelor,Single,0
4,10004,26,24600,5.2,full-time,High School,Single,0
...,...,...,...,...,...,...,...,...
89994,99994,52,72300,3.7,full-time,Bachelor,Single,1
89995,99995,61,20000,4.2,full-time,High School,Divorced,1
89996,99996,19,20000,1.5,full-time,High School,Married,3
89997,99997,21,20000,3.5,full-time,High School,Married,1
89998,99998,36,25600,2.0,self-employed,Bachelor,Married,3